body {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

.wrapper {
  width: 470px;
  margin: 60px auto;
}

.header {
  font-weight: bold;
  font-size: 34px;
  font-size: "Rubik One", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
}

h2 {
  font-weight: bolder;
  font-size: 35px;
}

p {
  color: grey;
  font-size: 20px;
  margin-top: 20px;
}

p, label {
  display: block;
}

label {
  margin-top: 25px;
  font-weight: bold;
  color: black;
  font-size: 18px;
}

form {
  margin-top: 25px;
}

input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border: 1px solid gray;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  margin-top: 25px;
  padding: 10px;
  border-radius: 6px;
}

::placeholder {
  font-size: 15px;
  font-weight: 20px;
  padding-left: 10px;
}

button {
  width: 100%;
  height: 50px;
  border: 0;
  color: black;
  font-size: 17px;
  border-radius: 4px;
  background-image: linear-gradient( 16.5deg,  rgba(203,189,240,1) 24.7%, rgba(253,184,169,1) 68.9% );
  text-align: center;
  margin-top: 25px;
}

button:hover {
  cursor: pointer;
}

button:active {
  box-shadow: inset 1px 2px 4px (0, 0, 0, .2);
}

.footer {
  margin-top: 30px;
  border-top: 1px solid grey;
  padding-top: 30px;
  text-align: center;
}